@use 'sass:list';

@mixin transition($transitions...) {
    $unfoldedTransitions: ();
    @each $transition in $transitions {
        $unfoldedTransitions: list.append($unfoldedTransitions, unfoldTransition($transition), comma);
    }

    transition: $unfoldedTransitions;
}

@function unfoldTransition($transition) {
    // Default values
    $property: all;
    $duration: 0.3s;
    $easing: ease-in-out;
    $delay: null; // Browser default is 0, which is what we want
    $defaultProperties: ($property, $duration, $easing, $delay);

    // Grab transition properties if they exist
    $unfoldedTransition: ();
    @for $i from 1 through list.length($defaultProperties) {
        $p: null;
        @if $i <= list.length($transition) {
            $p: list.nth($transition, $i);
        } @else {
            $p: list.nth($defaultProperties, $i);
        }
        $unfoldedTransition: list.append($unfoldedTransition, $p);
    }

    @return $unfoldedTransition;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}
